@page
@model RPG.Pages.Titles
@{
    ViewData["Title"] = "Home page";
}

    <div class="fadeIn">
        <p class="title">LÍDL AND JEFFF</p>
        <p class=" firstLayer">Autoři</p>
        <p>Denis Tauchman</p>
        <p>Jan Smutný</p>
        <p class="firstLayer">Poděkování za spolupráci</p>
        <p>Michal Stehlík</p>
        <p>Tomáš Kazda</p>
        <p>Michaela Hübnerová</p>
        <p>Vojtěch Dejnožka</p>
        <p>Jan Mrázek</p>
        <p class="firstLayer">Testování</p>
        <p>Jan Mrázek</p>
        <p>Vojtěch Dejnožka</p>
        <p>Filip Margitai</p>
        <p>Lukáš Tomas</p>
        <p>Ondřej Bím</p>
        <p>Tereza Fröhlichová</p>
        <p>Nela Koběrská</p>
        <p>František Vlk</p>
        <p>Ondřej Krpač (byl na mol)</p>
        <p>Lucie Adamová</p>
        <p>Zdeněk Rambousek</p>
        <p>Adéla Nevečeřalová</p>
        <p>Daniel Tůma</p>
        <p>Tomáš Holík</p>
        <p class="firstLayer">Animace</p>
        <p><a href="https://animate.style/" target="_blank">Daniel Eden a přátelé</a></p>
        <p class="firstLayer">Zvuky a písně</p>
        <p><a href="https://www.youtube.com/watch?v=UI2WuKFX7u0" target="_blank">DEAD SILENCE (OFFICIAL THEME SONG) - Charlie Clouser</a></p>
        <p><a href="https://www.youtube.com/watch?v=u-tQhdaXd80" target="_blank">Minecraft Alpha old door sound</a></p>
        <p><a href="https://www.youtube.com/watch?v=-Y4md2hVwSE" target="_blank">My name is Jeff</a></p>
        <p><a href="https://www.youtube.com/watch?v=frxT2qB1POQ" target="_blank">J.S. Bach - Prelude in C Major</a></p>
        <p><a href="https://www.youtube.com/watch?v=V5-g39Cw2qs" target="_blank">Keys Sound Effect</a></p>
        <p><a href="https://www.soundjay.com/page-flip-sounds-1.html" target="_blank">Page Flip Sound Effect 10</a></p>


    </div>
<audio id="deadSilence" autoplay>
    <source src="~/audio/DEAD SILENCE (OFFICIAL THEME SONG) - Charlie Clouser.mp3" type="audio/mp3">
</audio>
<script>
    let audio = document.getElementById("deadSilence");
    audio.volume = 0.1;
    let titles = document.querySelectorAll(".fadeIn p");
    let time = 0;
    titles.forEach(element => {
        element.style.animationDelay = time + "s";
        time += 1;
    });
</script>